html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { font-family: "Myriad Regular", Arial, sans-serif; font-size: 18px; line-height: auto; color: #fff; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.container { position: relative; height: 100%; background: url(../img/bg-main.jpg) no-repeat 50% 50%; background-size: cover; }
.container:before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0.4; }

.logo__link { position: absolute; display: inline-block; vertical-align: top; }
@media only screen and (max-width: 680px) { .logo__link { width: 26%; } }
@media only screen and (max-width: 400px) { .logo__link { width: 40%; } }
.logo__link img { max-width: 100%; }
.logo__iq { top: 5%; left: 5%; }
.logo__comp { top: 7%; right: 5%; }

.content { position: absolute; top: 35%; left: 25%; right: 25%; text-align: center; }
@media only screen and (min-width: 1400px) { .content { top: 57%; left: 25%; right: 25%; } }
@media only screen and (max-width: 1024px) { .content { top: 41%; left: 19%; right: 19%; } }
@media only screen and (max-width: 800px) { .content { left: 15%; right: 15%; } }
@media only screen and (max-width: 680px) { .content { top: 25%; left: 10%; right: 10%; } }
@media only screen and (max-width: 400px) { .content { top: 28%; left: 20%; right: 20%; } }
.content h2 { font-family: "Myriad Bold", Arial, sans-serif; font-size: 2.2em; text-transform: uppercase; padding-bottom: 20px; }
@media only screen and (max-width: 1024px) { .content h2 { font-size: 2em; padding-bottom: 50px; } }
@media only screen and (max-width: 800px) { .content h2 { font-size: 2em; } }
@media only screen and (max-width: 680px) { .content h2 { padding-bottom: 17px; font-size: 1.2em; } }
@media only screen and (max-width: 400px) { .content h2 { font-size: 1.1em; padding-bottom: 20px; } }
.content p { padding-bottom: 40px; font-size: 2em; }
@media only screen and (min-width: 1400px) { .content p { font-size: 2.5em; } }
@media only screen and (max-width: 1024px) { .content p { font-size: 1.7em; padding-bottom: 70px; } }
@media only screen and (max-width: 800px) { .content p { font-size: 1.7em; padding-bottom: 70px; } }
@media only screen and (max-width: 680px) { .content p { font-size: 1.1em; padding-bottom: 30px; } }
@media only screen and (max-width: 400px) { .content p { font-size: 1.1em; padding-bottom: 60px; } }
.content .cost { position: absolute; bottom: 0; left: 50%; width: 320px; margin-left: -160px; padding: 0; font-size: 6px; opacity: 0.8; }
@media only screen and (max-width: 680px) { .content .cost { width: 170px; margin-left: -85px; } }
@media only screen and (max-width: 400px) { .content .cost { width: 170px; margin-left: -85px; } }

.start-btn { display: inline-block; width: 280px; height: 65px; border-radius: 35px; margin-bottom: 90px; font-size: 1.5em; line-height: 65px; color: #fff; text-transform: uppercase; text-decoration: none; background: #e75b39; }
.start-btn:hover { background: #ff643e; }
@media only screen and (min-width: 1400px) { .start-btn { margin-bottom: 100px; } }
@media only screen and (max-width: 1024px) { .start-btn { width: 250px; height: 70px; margin-bottom: 90px; border-radius: 40px; font-size: 1.5em; line-height: 70px; } }
@media only screen and (max-width: 800px) { .start-btn { width: 250px; height: 70px; margin-bottom: 170px; border-radius: 35px; font-size: 1.5em; line-height: 70px; } }
@media only screen and (max-width: 680px) { .start-btn { width: 192px; height: 60px; line-height: 60px; border-radius: 30px; font-size: 1.3em; margin-bottom: 40px; } }
@media only screen and (max-width: 400px) { .start-btn { width: 192px; height: 60px; line-height: 60px; border-radius: 30px; font-size: 1.3em; margin-bottom: 60px; } }
